.indexCatch {
    @include marginPercent(1920 , 5 , auto , 0 , auto);
    @include media($sp){
margin: 4.9% auto 0 auto;
    width: 94.66%;
    }
}
.secIndexCatch{
    
}
.h1SecIndexCatch{
    //@include ontener_width(1200 , 671);
    width: 57%;
    margin: 0 auto;
    @include media($sp){
        width: 98%;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.txtSecIndexCatch{
    @include marginPercent(1200 , 83 , auto , 0 , auto);
    width: 56%;
    font-weight: 600;
    @include lineheight(16 , 40);
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    letter-spacing: 0.06em;
    @include media($sp){
        margin: 14% auto 0 1%;
        width: 100%;
        letter-spacing: 0;
    }
}
