.indexCompany{
    background: #FFF;
    @include marginPercent(1920 , 81 , auto , 0 , auto);
    @include paddingPercent(1920 , 0 , 0 , 0 , 0);
    @include media($tab){
        padding: 10% 0 0% 0;
    }
    @include media($sp){
        margin: 24.99% auto 0 auto;
    }
}
.indexCompanyInner{
    padding: 1% 0 0 0;

    position: relative;
    @include media($sp){
        
    }
}
.indexCompanyWap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    z-index: 2;
    @include marginPercent(1920 , 78 , auto , 0 , auto );
    @include media($sp){
        width: 100%;
        margin: 0 auto;
    }
}
.indexCompanyWap {
    &:before {
        content: '';
        display: block;
        background: #004ADB;
        width: 500%;
        height: 67%;
        bottom: 0px;
        left: -25vw;
        right: 0;
        position: absolute;
        z-index: 0;
        
        @include media($sp) {
            height: 56%;
            bottom: 20%;
            left: 0;
            right: 0;
        }
    }
}

.titleIndexCompany{
    @include ontener_width(1200 , 403.66);
    
    @include media($sp){
        
        width: 100%;
    }
}
.h1TitleIndexCompany{
    width: 100%;
    @include media($sp){
        width: 60.14%;
        margin: 0 0 0 2%;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.txtTitleIndexCompany.txtTitleIndexCompany01{
    letter-spacing: 0.11em;
    @include marginPercent(400 , 28.6 , 0 , 0 , 0);
    @include rs_font_size(30px,2.5vw,5.366666666666667vw);
    //フォント（px）【PC】:30px |【Tab】30px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp){
        margin: 3.85% 0 0 3%;
        letter-spacing: 0.21em;
    }
}
.navIndexCompany{
    position: relative;
    z-index: 2;
    @include marginPercent(400 , 55 , 0 , 0 , 0);
    @include paddingPercent(400 , 0 , 0 , 40 , 0 );
     @include media($sp){
        margin: 15.14% 0% 0% 0%;
    }
}
.ulIndexCompany{
    @include media($sp){
        margin: 0 0 0 2%;
    }
}
.liIndexCompany a{
    @include lineheight(20 , 35);
    @include rs_font_size(20px,1.6666666666666667vw,4.266666666666667vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    text-decoration: none;
    color: #fff;
}
.btnIndexCompanyWap{
    @include marginPercent(400 , 19 , 0 , 0 , 0);
     @include media($sp){
        @include ontener_width(375 , 340);
        margin: 12.15% auto 0 auto;
        position: relative;
    }
}
.btnIndexCompany{
    margin: 0% 0 0 0;
    width: 84%;
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1em;
    @include kadomaru(50px);
    @include media($sp) {
        height: 16vw;
        margin: 0 auto;
        width: 100%;
    }
}
.arrowBtnIndexCompany {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
        background-size: auto 55%;
    }
}
.bgindexCompany{
    
    height: 393px;
    //@include ontener_width(1200 , 1120);
    //height: 17.552083333333332vw;
    //width: 58.333333333333336vw;
    width: 100vw;
    background: url(../img/index/bgindexCompanyPc.png) no-repeat left top;
    background-size:auto 100%;
    position: absolute;
    top: -13%;
    left: 49.5%;
    z-index: 99;
    @include media($tab){
        height: 25vw;
        top: -15%;
        left: 38%;
    }
    @include media($sp){
height: 48.6vw;
    width: 57.42%;
    top: 16%;
    left: unset;
    right: -2%;
    background: url(../img/index/bgindexCompanySp.png) no-repeat center top;
    background-size: auto 100%;
    }
}


