.indexCompany{
    background: #FFF;
    @include marginPercent(1920 , 167 , auto , 0 , auto);
    @include paddingPercent(1920 , 133 , 0 , 0 , 0);
    @include media($tab){
        padding: 10% 0 0% 0;
    }
    @include media($sp){
        margin: 21.73% auto 0 auto;
        padding: 25% 0 20% 0;
    }
}
.indexCompanyInner{
    padding: 1% 0 0 0;
    height: 318px;
    background: #004ADB;
    position: relative;
    @include media($sp){
        height: 52vw;
    }
}
.indexCompanyWap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    @include media($sp){
        width: 100%;
        margin: 0 auto;
    }
}

.titleIndexCompany{
    @include ontener_width(1200 , 403.66);
    margin: -11.5% 0 0 0;
    @include media($sp){
        margin: -25% 0 0 0;
        width: 100%;
    }
}
.h1TitleIndexCompany{
    width: 100%;
    @include media($sp){
        @include ontener_width(350 , 221);
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.txtTitleIndexCompany.txtTitleIndexCompany01{
    letter-spacing: 0.11em;
    @include marginPercent(400 , 28.6 , 0 , 0 , 0);
    @include media($sp){
        margin: 3.85% 0 0 0;
    }
}
.navIndexCompany{
    @include marginPercent(400 , 26 , 0 , 0 , 0);
     @include media($sp){
        @include marginPercent(350 , 60 , 0 , 0 , 0);
    }
}
.ulIndexCompany{
    @include media($sp){
        margin: 0 0 0 2%;
    }
}
.liIndexCompany a{
    @include lineheight(20 , 35);
    @include rs_font_size(20px,1.6666666666666667vw,4.266666666666667vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    text-decoration: none;
    color: #fff;
}
.btnIndexCompanyWap{
    @include marginPercent(400 , 38 , 0 , 0 , 0);
     @include media($sp){
        @include ontener_width(375 , 340);
        margin: 12.15% auto 0 auto;
        position: relative;
    }
}
.btnIndexCompany{
    margin: 12.7%;
    width: 84%;
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1em;
    @include kadomaru(50px);
    @include media($sp) {
        height: 16vw;
        margin: 0 auto;
        width: 100%;
    }
}
.arrowBtnIndexCompany {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
        background-size: auto 55%;
    }
}
.bgindexCompany{
    margin: -11.5% 0 0 0;
    height: 393px;
    //@include ontener_width(1200 , 1120);
    //height: 17.552083333333332vw;
    //width: 58.333333333333336vw;
    width: 100vw;
    background: url(../img/index/bgindexCompanyPc.png) no-repeat left top;
    background-size:auto 100%;
    position: absolute;
    top:0;
    left: 49.5%;
    z-index: 99;
    @include media($tab){
        height: 25vw;
        top:1%;
        left: 38%;
    }
    @include media($sp){
        height: 53.6vw;
        @include ontener_width(350 , 180);
        top:5%;
        left: unset;
        right: -2%;
        background: url(../img/index/bgindexCompanySp.png) no-repeat center top;
        background-size:auto 100%;
    }
}


