.indexRecruit {
    @include paddingPercent(1920 , 196 , 0 , 0 , 0);
    @include media($sp) {
        @include marginPercent(375 , 0 , 0 , 0 , 0);
        padding: 36.66% 0 0 0;
    }
}
.titleIndexRecruit {
    width: 47.25%;
    @include media($sp) {
        @include ontener_width(375 , 193);
        @include marginPercent(193 , 0 , auto , 0 , 10);
    }
}
.h1TitleIndexRecruit {
    @include ontener_width(555 , 365);
    @include media($sp) {
        width: 100%;
            margin: -2% 0 0 -3%;
    }
}
.navIndexRecruit {    
    @include ontener_width(1200 , 794);
    @include marginPercent(1200 , 30 , 0 , 0 , 0);
    @include media($sp) {
        @include ontener_width(375 , 370);
        margin: 3.7% 0% 0% 0%;
    }
}
.navIndexRecruitWap {
    position: relative;
    @include paddingPercent(794 , 70 , 0 , 88 , 0 );
    @include media($sp) {
        padding: 5.94% 0% 7.94% 0%;
    }
}
.bgIndexRecruit {
    position: absolute;
    width: 500%;
    height: 98.25%;
    top: 0;
    right: 0;
    background: #004ADB;
    @include kadomaru(185px);
    @include media($sp) {
        z-index: 1
    }
}
.ulIndexRecruit {
    position: relative;
    z-index: 10;
    @include ontener_width(794 ,732);
    @include media($sp) {
        @include ontener_width(370 ,340);
        @include marginPercent(340 , 0 , auto , 0 , auto);
    }
}
.liIndexRecruit {
    @include ontener_width(732 , 216);
    @include media($sp) {
        @include ontener_width(340 , 108);
    }
}
.btnIndexRecruit {
    .nomal {
        display: block;
    }
    .hover {
        display: none;
    }
    &:hover {
        .nomal {
            display: none;
        }
        .hover {
            display: block;
        }
    }
}
.btnMoreIndexRecruitWap {
    position: relative;
    @include marginPercent(794 , -41 , 0 , 0 , 90 );
    @include media($sp) {
        @include marginPercent(340 , 0 , 0 , 0 , 0 );
    }
    .btnMoreIndexRecruit {
        @include media($sp) {
            margin-top: 12.92%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.btnMoreIndexRecruitWap .btnMoreIndexRecruitWap {
    width: 48.44%; 
}
.bgPhotoIndexRecruit {
    width: 68.33%;
    position: absolute;
    display: block;
    top: -10%;
    left: 60%;
    @include media($sp) {
        width: 66.33%;
        top: -25%;
        left: 44%;
        z-index: 0;
    }
    img {
        display: block;
    }
}
.btnMoreIndexRecruit {
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    @include kadomaru(50px);
    @include ontener_width(732 , 340);
    @include media($sp) {
        height: 16vw;
        @include ontener_width(370 , 340);
        @include marginPercent(340 , 47 , auto , 0 , auto);
    }
}
.arrowBtnMoreIndexRecruit {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 77% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 74% center;
        background-size: auto 55%;
    }
}
.indexRecruit .txtTitleIndexCompany {
    @include media($sp) {
        margin: 4.51% 0% 0% -3%;
        font-size: 5.26667vw;
    }
}