.indexRecruit {
    @include marginPercent(1920 , 196 , 0 , 0 , 0);
}
.titleIndexRecruit {
    @include ontener_width(1200 , 555);
}
.h1TitleIndexRecruit {
    @include ontener_width(555 , 365);
}
.navIndexRecruit {    
    @include ontener_width(1200 , 794);
    @include marginPercent(1200 , 30 , 0 , 0 , 0);
}
.navIndexRecruitWap {
    position: relative;
    @include paddingPercent(794 , 70 , 0 , 70 , 0 );
}
.bgIndexRecruit {
    position: absolute;
    width: 500%;
    height: 100%;
    top: 0;
    right: 0;
    background: #004ADB;
    @include kadomaru(185px);
    
}
.ulIndexRecruit {
    position: relative;
    z-index: 10;
    @include ontener_width(794 ,732)
}
.liIndexRecruit {
    
    @include ontener_width(732 , 216);
}
.btnIndexRecruit {
    .nomal {
        display: block;
    }
    .hover {
        display: none;
    }
    &:hover {
        .nomal {
            display: none;
        }
        .hover {
            display: block;
        }
    }
}
.btnMoreIndexRecruitWap {
    position: relative;
    @include marginPercent(794 , -30 , 0 , 0 , 90 );
}
.bgPhotoIndexRecruit {
width: 58.33%;
    position: absolute;
    display: block;
    top: 0;
    left: 61%;
    img {
        display: block;
    }
}
//ボタン
.btnMoreIndexRecruit {
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    @include kadomaru(50px);
    @include ontener_width(732 , 340);
    @include media($sp) {
        height: 16vw;
        @include ontener_width(348 , 340);
        @include marginPercent(340 , 50 , auto , 0 , auto);
    }
}
.arrowBtnMoreIndexRecruit {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 69% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 69% center;
        background-size: auto 55%;
    }
}