.cl_006FDB {
    color: #006FDB;
}
.cl_fff {
    color: #FFF;
}
.cl_00275B {
    color: #00275B;
}
.bg_fff {
    background: #FFF;
}
.bg_00275B {
    background: #00275B;
}
.bg_F2F2F2 {
    background: #F2F2F2;
}
.cl_8B8B8B {
    color: #8B8B8B;
}
.bg_006FDB{
    background: #006FDB;
}
.bg_FFFFF6{
    background: #FFFFF6;
}