.spHeader{
    height: 13.333333333333334vw;
    display: flex;
    align-items: center;
}
.spHeaderWap{
    @include ontener_width(375 , 350);
    margin: 0 auto;
}
.buttonSpHeader{
    width: 224.32px;
    display: block;
}
.sp_menu_button{
    width: 40px;
    height: 40px;
    background: #006FDB;
    @include kadomaru(3px);
    position: relative;
    span{
        width: 22px;
        height: 1px;
        background: #FFF;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.sp_menu_button{
    &.off{
         span:nth-child(1){
            top:10px;
        }
        span:nth-child(2){
            top:20px;
        }
        span:nth-child(3){
            top:30px;
        }
    }
    &.on{
        span:nth-child(1){
            opacity: 0;
        }
        span:nth-child(2){
        top: 20px;
        transform: rotate(-45deg);
        }
        span:nth-child(3){
            top: 20px;
            transform: rotate(45deg);
        }
    }
}
.spHeaderNav{
    display: none;
    background: #F6FBFF;
    @include paddingPercent(375 , 34 , 0 , 175 , 0);
    overflow-y: auto;
    position: fixed;
    top:50px;
    width: 100%;
    z-index: 9999;
    height: 100vh;
}
.spHeaderNavUl{
    @include ontener_width(375 , 350);
    margin: 0 auto;
}
.spHeaderNavLi{
    @include marginPercent(350 , 45 , auto , 0 , auto);
    color: #00275B;
    
}
.btnSubNavi{
   padding: 0 0 10px 0;
   border-bottom: 1px solid #00275B;
   position: relative;
   transition-duration: 0.5s;
    &:before{
        content: "";
        width: 10px;
        display: block;
        height: 2px;
        background: #00275B;
        position: absolute;
        right: 20px;
        top:10px;
    }
    &:after{
        content: "";
        width: 10px;
        display: block;
        height: 2px;
        background: #00275B;
        position: absolute;
        right: 20px;
        top:10px;
        transform: rotate(90deg);
        opacity: 1;
    }
    &.off:after{
       transform: rotate(180deg);
       opacity: 1;
   }
   &.on:after{
        transform: rotate(90deg);
        opacity: 1;
   }
}
.HeaderNavEnTitle{
     font-weight: 600;
     letter-spacing: 0.1em;
    @include rs_font_size(20px,1.6666666666666667vw,5.333333333333333vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 20px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
}
.HeaderNavJaTitle{
    margin: 0 0 0 14px;
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
}
.spHeaderNavUlSub {
    @include marginPercent(350 , 10 , auto , 0 , auto);
    display: none;
}
.spHeaderNavLiSub{
    @include marginPercent(350 , 0 , auto , 25 , auto);
}
.spHeaderNavLiSub a{
    color: #00275B;
    text-decoration: none;
}
.spHeaderNavContactBtn{
    @include marginPercent(350 , 60 , auto , 0 , auto);
    @include ontener_width(350 , 200);
}
.spHeaderNavContactBtnLink{
    @include buttontype14_kai(#006FDB,#006FDB,2px,#FFF,#C2FF30,#FFF,#FFF);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include kadomaru(50px);
    font-weight: 600;
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    text-decoration: none;
    text-align: center;
}
.spHeaderNavLiSubmenu{
    display: block;
    width: 100%;
    background: url(../img/icon/spHeaderNavLiSubmenu.png) no-repeat 95% center;
    background-size: auto 60%;
}
