.bgCompanyPageFv01 {
    height: 380px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: url(../img/page/company/bgCompanyPageFvPc.jpg);
    background-size: auto 100%;
    @include media($sp){
        height: 40vw;
        background: url(../img/page/company/bgCompanyPageFvSp.jpg);
        background-size: auto 100%;
    }
}
