.bgCompanyGroup {
    background: url(../img/page/company/bgCompanyGroup.png) no-repeat;
    background-size: auto 100%;
    background-position: bottom 48px right 0;
    height: 39.84375vw;
    @include media($sp) {
        background-position: top 400px left 0;
        //height: 106.13333333333334vw;
        height: 230vw;
        background: unset;
    }
}
.companyGroup  {
    @include marginPercent(1200 , 161 , auto , 0 , auto);
    @include media($sp) {
        margin: 20% 0 0 0;
    }
}
.companyGroupMain {
    margin: -1.2% 0 0 0;
    @include ontener_width(1200 , 765);
    @include paddingPercent(765 , 71 , 0 , 0 , 0);
    @include media($sp) {
        //@include ontener_width(375 , 336);
        width: 100%;
        z-index: -1;
        margin: -18% 0 0 0;
    }
}
.bgCompanyGroupMain {
    position: absolute;
    width: 500%;
    height: 482px;
    top: -5%;
    right: 0;
    background: #F2F2F2;
    z-index: -1;
    @include media($sp) {
        //height: 106.13333333333334vw;
        height: 215.46666666666667vw;
        width: 100%;
        top:100%;
        background: unset;
        background:url(../img/page/company/bgCompanyGroupSp.png) no-repeat right bottom;
        background-size: 90% auto;
        height: 81.466667vw;
    }
}
.ulCompanyGroupMain {
    margin: 0 auto 0 0;
    border-top: solid 1px #999999;
    @include ontener_width(765 , 656);
    @include media($sp) {
        //@include ontener_width(336 , 300);
        padding: 15% 5% 12% 5%;
        background: #F2F2F2;
    }
}
.liCompanyGroupMain {
    font-weight: 600;
    border-bottom: solid 1px #999999;
    @include paddingPercent(656 , 29.5 , 0 , 29.5 , 0);
    @include rs_font_size(20px,1.6666666666666667vw,4.266666666666667vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        @include paddingPercent(300 , 29.5 , 0 , 29.5 , 0);
    }
}