.companySocial {
    @include marginPercent(1920 , 0 , 0 , 0 , 0);
    @include media($sp) {
        @include marginPercent(375 , 76 , 0 , 0 , 0);
    }
}
.mainCompanySocial {
    @include marginPercent(1200 , 9 , auto , 0 , auto);
    @include media($sp) {
        @include ontener_width(375 , 350);
        @include marginPercent(350 , 28 , auto , 0 , auto);
    }
}
.picMainCompanySocial {
    @include ontener_width(1200 , 342);
    @include marginPercent(342 , 0 , auto , 0 , auto);
    @include media($sp) {
        width: 100%;
    }
}
.photoMainCompanySocial {
    @include ontener_width(342 , 311);
}
.txtPicMainCompanySocial {
    @include marginPercent(342 , 15 , 0 , 0 , 0);
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16pxpx |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        @include marginPercent(350 , 15 , 0 , 0 , 0);
    }
}
.cntMainCompanySocial {
    @include ontener_width(1200 , 700);
    @include media($sp) {
        width: 100%;
        @include marginPercent(350 , 50 , 0 , 0 , 0);
    }
}
.txtMainCompanySocial {
    @include lineheight(18 , 29);
    @include rs_font_size(18px,1.5vw,4.266666666666667vw);
    //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
}
.MainCompanySocialLxc {
    width: 100%;
}
.picMainCompanySocialLxc {
    position: absolute;
    bottom: -15%;
    left: 4%;
    @include ontener_width(700 , 121);
    @include media($sp) {
        bottom: 11%;
        left: 4%;
        @include ontener_width(350 , 87);
    }
}
.txtMainCompanySocialLxc {
    font-weight: 600;
    background: #F2F2F2;
    @include lineheight(18 , 26);
    @include rs_font_size(18px,1.5vw,4.266666666666667vw);
    //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include kadomaru(10px);
    @include paddingPercent(700 , 21 , 0 , 21 , 196);
    @include marginPercent(700 , 58 , 0 , 0 , 0);
    @include media($sp) {
        @include paddingPercent(350 , 16 , 43 , 15 , 115);
        @include marginPercent(350 , 60 , 0 , 0 , 0);
    }
}

