.companySocial {
    @include marginPercent(1920 , 165 , 0 , 0 , 0);
    @include media($sp) {
            margin: 7.06% 0% 0% 0%;
    }
}
.companySocial .h2TitleCompany {
    @include media($sp) {
        letter-spacing: 0.13em;
            font-size: 8.25vw;
    }
}
.mainCompanySocial {
    @include marginPercent(1200 , 9 , auto , 0 , auto);
    @include media($sp) {
        @include ontener_width(375 , 350);
        @include marginPercent(350 , 28 , auto , 0 , auto);
    }
}
.picMainCompanySocial {
    @include ontener_width(1200 , 342);
    @include marginPercent(342 , 0 , auto , 0 , auto);
    @include media($sp) {
        width: 100%;
    }
}
.photoMainCompanySocial {
    @include ontener_width(342 , 311);
    @include media($sp) {
        @include ontener_width(350 , 311);
        @include marginPercent(311 , 0 , auto , 0 , auto);
    }
}
.txtPicMainCompanySocial {
    @include marginPercent(342 , 15 , 0 , 0 , 0);
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16pxpx |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        @include marginPercent(350 , 15 , 0 , 0 , 0);
    }
}
.cntMainCompanySocial {
    @include ontener_width(1200 , 700);
    @include media($sp) {
        width: 100%;
        @include marginPercent(350 , 50 , 0 , 0 , 0);
    }
}
.txtMainCompanySocial {
    @include lineheight(18 , 29);
    @include rs_font_size(18px,1.5vw,4.266666666666667vw);
    //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
}
.MainCompanySocialLxc {
    width: 100%;
}
.picMainCompanySocialLxc {
    position: absolute;
    bottom: -15%;
    left: 4%;
    @include ontener_width(700 , 121);
    @include media($sp) {
        bottom: 11%;
        left: 4%;
        @include ontener_width(350 , 87);
    }
}
.txtMainCompanySocialLxc {
    font-weight: 600;
    background: #F2F2F2;
    letter-spacing: 0.16em;
    @include lineheight(18 , 26);
    @include rs_font_size(18px,1.5vw,4.266666666666667vw);
    //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include kadomaru(10px);
    @include paddingPercent(700 , 21 , 0 , 21 , 196);
    @include marginPercent(700 , 58 , 0 , 0 , 0);
    @include media($sp) {
        letter-spacing: -0.02em;
        @include lineheight(16 , 27);
        @include paddingPercent(350 , 11.547 , 43 , 11.547 , 115);
        @include marginPercent(350 , 58.797 , 0 , 0 , 0);
    }
}

