.recruitLike{
    @include marginPercent(1920 , 64 , 0 , 0 , 0);
    @include media($sp){
        @include marginPercent(375 , 46.500 , auto , 0 , auto);
    }
}
.bgRecruitLikeMain{
    height: 616px;
    background: url(../img/page/recruit/bgRecruitLikeMain.png) no-repeat center top;
    background-size: auto 100%;
    @include media($tab) {
        background: url(../img/page/recruit/bgRecruitLikeMain.png) no-repeat center top;
        background-size: auto 80%;
    }
    @include media($sp){
        height: 86.13333333333334vw;
        background: url(../img/page/recruit/bgRecruitLikeMainSp.png) no-repeat center 11.8vw;
        background-size: auto 100%;
        z-index: -1;
    }
}
.bgRecruitLikeMain{
    @include marginPercent(1200 , 115 , auto , 0 , auto);
    @include media($sp){
        @include marginPercent(375 , 52.500 , auto , 0 , auto);
    }
}
.h1RecruitLikeMain{
    @include ontener_width(1200 , 703.13);
    margin: 0 auto;
    @include media($sp) {
        @include ontener_width(375 , 350);
    }
}
.txtRecruitLikeMain{
    @include marginPercent(1200 , 86.800 , auto , 0 , auto);
    @include lineheight(20 , 50);
    font-weight: 600;
    letter-spacing: 0.15em;
    @include rs_font_size(25px,2.0833333333333335vw,4.266666666666667vw);
    //フォント（px）【PC】:25px |【Tab】25px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp){
        letter-spacing: 0;
        @include lineheight(16 , 23);
        @include marginPercent(375 , 49.266 , auto , 0 , auto);
    }
}
.bigTxtRecruitLikeMain{
    @include marginPercent(1200 , 67 , auto , 0 , auto);
    @include lineheight(20 , 50);
    font-weight: 600;
    letter-spacing: 0.08em;
    @include rs_font_size(30px,2.5vw,5.333333333333333vw);
    //フォント（px）【PC】:30px |【Tab】30px |【sp】 20px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp){
        @include marginPercent(375 , 75.5 , auto , 0 , auto);
        @include lineheight(20 , 30);
    }
    
}


