.recruitEntryBtnWap{
    @include marginPercent(1200 , 152 , auto , 0 , auto);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.recruitEntryBtn{
    @include ontener_width(1200 , 590);
    @include media($sp){
        width: 100%;
    }
}
.recruitEntryBtn{
    display: block;
    transition-duration: 0.5s;
    position: relative;
    &:hover{
        opacity: 0.6;
    }
}
.recruitEntryBtnWap02{
    @include marginPercent(1200 , 63 , auto , 0 , auto);
    @include media($sp){
        @include ontener_width(375 , 350);
        @include marginPercent(375 , 43.125 , auto , 0 , auto);
    }
}
.recruitEntryBtn02Link{
    @include ontener_width(1200 , 340);
    margin: 0 auto;
   @include buttontype14_kai(#FFF,#006FDB,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    @include kadomaru(50px);
    @include media($sp) {
        height: 16vw;
        width: 100%;
    }
}
.recruitEntryArrow02{
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 70% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 70% center;
        background-size: auto 55%;
    }
}
