.bgRecruitStaff{
    @include marginPercent(1920 , 159 , auto , 0 , auto);
    height: 443px;
    background: url(../img/page/recruit/bgRecruitStaffPc.png) no-repeat center top;
    background-size: auto;
    position: relative;
    @include media($tab){

    }
    @include media($sp) {
        background: url(../img/page/recruit/bgRecruitStaffSp.png) no-repeat center top;
        background-size: auto 100%;
        height: 49.86666666666667vw;
        margin-top: 30.8%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.recruitStaffWap{
    @include marginPercent(1920 , 90 , auto , 0 , auto);
    @include media($tab) {
        margin-top: 20.68%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.btnRecruitStaffCnt{
    @include ontener_width(1200 , 510);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 52%;
    margin-right: 0px;
    @include paddingPercent(510 , 189 , 0 , 0 , 0);
    @include media($tab) {
        width: 58%;
        margin-left: 42%;
        text-align: right;
        padding: 177px 0% 3% 0%;
    }
    @include media($sp) {
        width: 100%;
        margin-left: 0%;
        padding: 17.5% 0% 0% 0%;
    }
}
.H2BtnRecruitStaffCnt{
    font-weight: 600;
    color: #FFF;
    @include rs_font_size(50px,4.166666666666667vw,7.466666666666667vw);
    //フォント（px）【PC】:50px |【Tab】50px |【sp】 28px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp){
        display: inline-block;
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: 4.94%;
    }
}
.btnRecruitStaff{
    @include marginPercent(510 , 42 , auto , 0 , auto);
    @include ontener_width(510 , 340);
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
@include rs_font_size(18px,1.5vw,4.8vw);
//フォント（px）【PC】:18px |【Tab】18px |【sp】 18px
//設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include kadomaru(50px);
    @include media($sp) {
        height: 16vw;
        margin: 8.1% auto 0 auto;
        @include ontener_width(375 , 340);
    }
}
.arrowBtnRecruitStaff {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 75% center;
        background-size: auto 55%;
    }
}