@charset "utf-8";

.contactThanksSec {
    @include marginPercent(1200 , 105 , 0 , 0 , 0);
    @include media($sp) {
        @include marginPercent(350 , 25.969 , 0 , 0 , 0);
    }
    .txtContactThanksSec {
        font-weight: 600;
        @include lineheight(20 , 35.5)
        @include rs_font_size(20px,1.6666666666666667vw,3.7333333333333334vw);
        //フォント（px）【PC】:20px |【Tab】20px |【sp】 14px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
        @include media($sp) {
            @include lineheight(14 , 31.5)
            @include ontener_width(350 , 322);
            @include marginPercent(322 , 0 , auto , 0 , auto);
        }
    }
    .btnContactThanksWap {
        @include marginPercent(340 , 120 , auto , 361 , auto);
        @include media($tab) {
            margin: 12.7% auto 0 auto;
        }
        @include media($sp) {
            @include ontener_width(350 , 340);
            margin-top: 36.52%;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.FormThanksarrow {
    @include rs_font_size(18px,1.5vw,4.8vw);
    //フォント（px）【PC】:18px |【Tab】18px |【sp】 18px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat;
    background-size: auto 55%;
    background-position: 72% center;
    @include media($tab){
        background-position: 76% center;
    }
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 90% center;
        background-size: auto 55%;
        background-position: 72% center;
    }
}
