.sitemapWap {
    @include marginPercent(1920 , 69 , auto , 354.3 , auto );
    @include media($sp) {
        margin-top: 16.93%;
        margin-bottom: 62.66%;
        margin-left: auto;
        margin-right: auto;
    }
}
.navMainSitemap {
    @include ontener_width(1200 , 299);
    min-height: 348px;
    @include media($sp) {
        @include ontener_width(375,350);
        min-height: unset;
        margin: auto;
        &:nth-child(n+2) {
            margin-top: 19.5%;
            margin-bottom: 0%;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}
.secMainSitemap {
    width: 71.57%;
    margin: auto;
    @include media($sp) {
        width: 100%;
    }
}
.navMainSitemapB {
    border-left: 1px solid #999999;
    @include media($sp) {
        border-left: none;
        border-top: 1px solid #999;
        padding: 3% 0% 21.8% 0%;
    }
}
.navMainSitemapSpB {
    @include media($sp) {
        border-left: none;
        border-bottom: 1px solid #999;
    }  
}
.h2NavMainSitemap {
    padding: 4% 0 0 0;
    @include rs_font_size(23px,1.9166666666666667vw,6.53333vw);
    //フォント（px）【PC】:23px |【Tab】23px |【sp】 17px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    font-weight: 600;
    padding: 3.5% 0 0 0;
    letter-spacing: 0.14em;
    @include media($sp) {
        
    }
}
.txtNavMainSitemap {
    letter-spacing: 0.03em;
    @include marginPercent(220 , 10 , 0 , 0 , 0);
    @include rs_font_size(15.5px,1.2916666666666667vw,4.2vw);
    //フォント（px）【PC】:15.5px |【Tab】15.5px |【sp】 12px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        @include marginPercent(160 , 3 , 0 , 0 , 0);
    }
}
.ulMainSitemap {
    @include marginPercent(220 , 49 , 0 , 0 , 0);
    @include media($sp) {
        margin: 12% 0% 0% 0%;
    }  
}
.liMainSitemap {
    @include marginPercent(185 , 31 , 0 , 0 , 0);
    @include rs_font_size(19px,1.3333333333333333vw,5.2vw);
    //フォント（px）【PC】:19pxpx |【Tab】16px |【sp】 12px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        margin: 8.25% 0% 0% 0%;
    }
    a {
        display: block;
        text-decoration: none;
        color: #00275B;
    }
}
.arrowMainSitemap {
    width: 100%;
    display: block;
    background: url(../img/page/sitemap/arrowMainSitemap.png) no-repeat 0% center;
    background-size: auto 55%;
    @include paddingPercent(128 , 0 , 0 , 0 , 15);
    @include media($sp) {
        background: url(../img/page/sitemap/arrowMainSitemap.png) no-repeat 0% center;
        background-size: auto 55%;
        padding: 0% 0% 0% 5.43%;
    }
}