.bgCatNewsFv {
    background: url(../img/category/news/bgCatNewsFvPc.jpg) no-repeat top center;
    background-size: auto 100%;
    @include media($sp) {
        background: url(../img/category/news/bgCatNewsFvSp.jpg) no-repeat top center;
        background-size: auto 100%;
    }
}
