.bgPrivacyPageFv {
    background: url(../img/page/sitemap/bgSitemapPageFvPc.jpg) no-repeat bottom center;
    background-size: cover;
    @include media($sp) {
    background: url(../img/page/sitemap/bgSitemapPageFvSp.jpg) no-repeat bottom center;
    background-size: cover;
    }
}