.btmPrivacy {
    @include marginPercent(1920 , 161 , auto , 0 , auto );
    @include media($sp) {
        @include ontener_width(375 , 350);
        margin-top: 12.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}
.h2BtmPrivacy {
    font-weight: 600;
    @include rs_font_size(20px,1.6666666666666667vw,4.8vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 18px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include paddingPercent(1200 , 0 , 0 , 50 , 0 );
    border-bottom: 1px solid #999;
    @include media($sp) {
        padding: 0% 0% 8.9% 0%;
    }
}
.secBtmPrivacy {
    @include paddingPercent(1200 , 42 , 0 , 34 , 0 );
    border-bottom: 1px solid #999;
    @include media($sp) {
            padding: 9.3% 0% 21.6% 0%;
    }
}
.h3SecBtmPrivacy {
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    font-weight: 600;
}
.txtSecBtmPrivacy {
    letter-spacing: 0.041em;
    @include marginPercent(1200 , 12 , 0 , 0 , 0 );
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include lineheight(16,30);
    @include media($sp) {
        letter-spacing: 0;
        @include marginPercent(350 , 11.547 , 0 , 0 , 0 );
    }
}

.h3SecBtmPrivacy02 {
    @include marginPercent(1200 , 49 , 0 , 0 , 0 );
    @include media($sp) {
        margin: 24.57% 0% 0% 0%;
    }
}
.h3SecBtmPrivacy03 {
    @include marginPercent(1200 , 36 , 0 , 0 , 0 );
    @include media($sp) {
        margin: 10.85% 0% 0% 0%;
    }
}
.txtSecBtmPrivacySecond {
    @include marginPercent(1200 , 87 , 0 , 0 , 0 );
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include lineheight(16 , 31);
    font-weight: 600;
    @include media($sp) {
        margin: 14.91% 0% 0% 0%;
    }
}
.secBtmPrivacyBnone {
    border-bottom: none;
}

.btnContactThanksWap {
    @include marginPercent(1200 , 203 , auto , 140 , auto );
    @include ontener_width(1200 , 340);
    @include media($sp) {
        @include ontener_width(350 , 350 );
        @include marginPercent(350 , 130.469 , auto , 121 , auto );
    }
}

.btnContactThanks{
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    @include kadomaru(50px);
    @include media($sp) {
        height: 16vw;
    }
}
.arrowBtnContactThanks {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 73% center;
    background-size: auto 52%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 73% center;
        background-size: auto 52%;
    }
}