.btmPrivacy {
    @include marginPercent(1920 , 133, auto , 0 , auto );
}
.h2BtmPrivacy {
    font-weight: 600;
    @include rs_font_size(20px,1.6666666666666667vw,4.8vw);
    //フォント（px）【PC】:20px |【Tab】20px |【sp】 18px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include paddingPercent(1200 , 0 , 0 , 47 , 0 );
    border-bottom: 1px solid #999;
}
.secBtmPrivacy {
    @include paddingPercent(1200 , 40 , 0 , 40 , 0 );
    border-bottom: 1px solid #999;
}
.h3SecBtmPrivacy {
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    font-weight: 600;
}
.txtSecBtmPrivacy {
    @include marginPercent(1200 , 15 , 0 , 0 , 0 );
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include lineheight(16,30);
}

.h3SecBtmPrivacy02 {
    @include marginPercent(1200 , 49 , 0 , 0 , 0 );
}
.h3SecBtmPrivacy03 {
    @include marginPercent(1200 , 36 , 0 , 0 , 0 );
}
.txtSecBtmPrivacySecond {
    @include marginPercent(1200 , 95 , 0 , 0 , 0 );
    @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 16px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include lineheight(16,30);
    font-weight: 600;
}
.secBtmPrivacyBnone {
    border-bottom: none;
}

.btnContactThanksWap {
    @include marginPercent(1200 , 242 , auto , 140 , auto );
    @include ontener_width(1200 , 340);
}

.btnContactThanks{
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.05em;
    @include kadomaru(50px);
    @include rs_font_size(16px,1.3333333333333333vw,2.6666666666666665vw);
    //フォント（px）【PC】:16px |【Tab】16px |【sp】 10px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include media($sp) {
        height: 9.778666666666666vw;
    }
}
.arrowBtnContactThanks {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 92% center;
    background-size: auto 55%;
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 90% center;
        background-size: auto 55%;
    }
}