.singleNews {
    @include marginPercent(1200 , 79 , auto , 246 , auto);
    @include media($sp) {
        @include ontener_width(375 , 350);
        //@include marginPercent(350 , 46 , auto , 125 , auto);
        margin: 14% auto 35.5% auto;
    }
}
.newIconTime {
    display: flex;
    .new {
        @include marginPercent(80 , 0 , 42 , 0 , 0);
        @include media($tab) {
            margin: 0% 3% 0% 0%;
        }
        @include media($sp) {
            margin: 0% 12.4% 0% 0%;
        }
    }
}
.timeSingleNews {
    display: flex;
    align-items: center;
}
.cntSingleNews {
    @include marginPercent(1200 , 14 , 0 , 0 , 0);
    @include media($sp) {
            //@include marginPercent(350 , 15 , 0 , 0 , 0);
            margin: 5.28% auto 0 auto;
    }
}
.h2SingleNews {
    border-bottom: solid 1px #999999;
    font-weight: 600;
    @include rs_font_size(25px,2.0833333333333335vw,4.8vw);
    //フォント（px）【PC】:25px |【Tab】25px |【sp】 18px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include paddingPercent(1200 , 0 , 0 , 25 , 0);
    @include media($sp) {
        padding: 0% 0% 5.32% 0%;
    }
}
.singleNewsLxc {
    @include marginPercent(1200 , 29 , 0 , 0 , 0);
    @include media($sp) {
        @include marginPercent(350 , 23 , 0 , 0 , 0);
    }
    h1{
        clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(20px,1.6666666666666667vw,5.333333333333333vw);
        //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 20px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
      @include media($sp) {
        @include marginPercent(350 , 20 , 0 , 20 , 0 );
      }
    }
    h2{
        clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(19px,1.5833333333333333vw,5.066666666666666vw);
        //フォント（px）【PC】:19pxpx |【Tab】19px |【sp】 19px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
      @include media($sp) {
        @include marginPercent(350 , 20 , 0 , 20 , 0 );
      }
    }
     h3{
         clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(18px,1.5vw,4.8vw);
        //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 18px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
       @include media($sp) {
         @include marginPercent(350 , 20 , 0 , 20 , 0 );
       }
    }
     h4{
         clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(17px,1.4166666666666667vw,4.533333333333333vw);
        //フォント（px）【PC】:17pxpx |【Tab】17px |【sp】 17px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
       @include media($sp) {
         @include marginPercent(350 , 20 , 0 , 20 , 0 );
       }
    }
     h5{
         clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
        //フォント（px）【PC】:16pxpx |【Tab】16px |【sp】 16px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
       @include media($sp) {
         @include marginPercent(350 , 20 , 0 , 20 , 0 );
       }
    }
     h6{
         clear: both;
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        line-height: 120%;
        @include rs_font_size(15px,1.25vw,4vw);
        //フォント（px）【PC】:15pxpx |【Tab】15px |【sp】 15px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
       @include media($sp) {
         @include marginPercent(350 , 20 , 0 , 20 , 0 );
       }
    }
    p {
        @include marginPercent(1200 , 20 , 0 , 20 , 0 );
        @include lineheight(16 , 30);
        @include rs_font_size(16px,1.3333333333333333vw,4.8vw);
        //フォント（px）【PC】:16pxpx |【Tab】16px |【sp】 18px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
        @include media($sp) {
             @include marginPercent(350 , 20 , 0 , 20 , 0 );
            @include lineheight(18 , 30);
        }
    }
    img {
        clear: both;
        @include marginPercent(1200 , 20 , auto , 20 , auto );
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        @include media($sp) {
          @include marginPercent(350 , 20 , 0 , 20 , 0 );
        }
    }
    .alignleft {
        clear: both;
        @include marginPercent(1200 , 0 , 20 , 20 , 0 );
        float: left;
    }
    .alignright {
        clear: both;
        @include marginPercent(1200 , 0 , 0 , 20 , 20 );
        float: right;
    }
}
.btnSingleNewsWap {
    @include marginPercent(1200 , 176 , auto , 0 , auto);
    @include media($sp) {
        @include marginPercent(350 , 157.484 , auto , 0 , auto);
    }
}
.btnSingleNews {
    @include buttontype14_kai(#FFF,#FFF,2px,#FFF,#C2FF30,#C2FF30,#006FDB);
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    border: solid 2px #006FDB;
    color: #006FDB;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.01em;
    @include rs_font_size(18px,1.5vw,4.8vw);
    //フォント（px）【PC】:18px |【Tab】18px |【sp】 18px
    //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    @include kadomaru(50px);
    @include ontener_width(1200 , 340);
    @include marginPercent(340 , 0 , auto , 0 , auto);
    @include media($sp) {
        height: 16vw;
        @include ontener_width(350 , 340);
        @include marginPercent(340 , 0 , auto , 0 , auto);
    }
}
.arrowBtnSingleNews {
    width: 100%;
    display: block;
    background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 83% center;
    background-size: auto 55%;
    @include media($tab) {
        background-position: 90% center;
    }
    @include media($sp) {
        background: url(../img/index/arrowBtnMoreIndexRecruit.png) no-repeat 83% center;
        background-size: auto 55%;
    }
}