@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/base';
@import 'sass_base/animate';
@import 'sass_base/_page_animete';
@import 'sass_base/icon_arrow';
@import 'sass_base/coding_guideline';
@import 'sass_base/_color';
.wapper {
    @include wapper_setting();    
}
//基本設定
ul,li,dd,dt,dh {
    list-style: none;
}
svg {
    display: block;
}

.pc_only {
    @include pc_only();
}
.sp_only {
    @include sp_only();
}

.t_center {
    text-align: center;
}

@for $i from 0 through 8 {
    .pc_order_#{$i} {
        order: $i;
        @include media($sp) {
            order: unset;
        }
    }
    .fw_#{$i*100} {
        font-wieght:$i*100;
    }
}
.text_justify {
    text-align: justify;
    text-justify: inter-ideograph;    
}
.ovhidden {
    overflow: hidden;
}
.po_re {
    position: relative;
}
//パンくず
.breadCrumbList{
    @include marginPercent(1200 , 10 , auto , 0 , auto);
    @include media($sp){
        display: none;
    }
    a,span{
        color: #000;
        text-decoration: none;
        @include rs_font_size(16px,1.3333333333333333vw,4.266666666666667vw);
        //フォント（px）【PC】:16pxpx |【Tab】16px |【sp】 16px
        //設定サイズ（px）【PC】:1200px |【Tab】1200px |【sp】 375px
    }
}

//トップページ部分
@import 'main_include/header/_header_pc';
@import 'main_include/header/_header_sp';
//トップページ部分
@import 'main_include/index/_index';
//全固定ページ共通部分
@import 'main_include/page/defo/_pageFvConfig';
//company
@import 'main_include/page/company/_company';
//service
@import 'main_include/page/service/_service';
//recruit
@import 'main_include/page/recruit/_recruit';
//staff
@import 'main_include/page/staff/_staff';
//news
@import 'main_include/category/news/_news';
@import 'main_include/single/news/_news';
//outline
@import 'main_include/page/outline/_outline';
//outline
@import 'main_include/page/outline/_outline';
//sitemap
@import 'main_include/page/sitemap/_sitemap';
//privacy
@import 'main_include/page/privacy/_privacy';
//フッター部分
@import 'main_include/footer/_footer';
@import 'lightbox.min';
